  body {
    display: block;
    flex-direction: column;
    align-items: center;
    width: 100%;
    min-height: 100vh; 
  }
  
  .main-container {
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    box-sizing: border-box;
}
  
  main {
    background-color: #fff;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  button {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    min-width: 116px; 
    max-width: 100%; 
  }

  .buttons{
    display: flex;
    justify-content: flex-end;
    gap: 20px;
  }

  h2{
    margin-bottom: 20px;
  }

  .error-message {
    color: red;
    font-size: 0.9rem;
    margin-top: 0.2rem;
    max-width: 100%;
    display: none;
  }